node_modules/
.env
.env.local
dist/
build/
*.log
.DS_Store

desktop.ini

server/uploads/*
!server/uploads/.gitkeep

storage-node/storage/*
!storage-node/storage/.gitkeep

server/chunks/*
!server/chunks/.gitkeep
