PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/distributed-file-storage
CLIENT_URL=http://localhost:5173

JWT_SECRET=prakhar@06082004
JWT_EXPIRES_IN=7d

CHUNK_SIZE=1048576


REPLICATION_FACTOR=2

REDIS_URL=redis://localhost:6379

HEARTBEAT_TIMEOUT_MS=15000

RECOVERY_INTERVAL_MS=20000

REDIS_HOST=localhost
REDIS_PORT=6379

NODE_REQUEST_TIMEOUT_MS=3000